
<div class="bootstrap">
 <div class="container">
  <div class="row">
   <div class=" block1 col-md-9 col-sm-12 col-xs-11 ">
    <div class="formden_header">
     <h2 class="pad">Change yout info
     </h2>
     <p>
     </p>
    </div>
    <form class="form-horizontal" method="post">
     <div class="form-group ">
      <label class="control-label col-sm-2" for="name">
       User name
      </label>
      <div class="col-sm-6 ">
       <input class="form-control" id="name" name="name" placeholder="please enter user name" type="text"/>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="name1">
       Name
      </label>
      <div class="col-sm-6">
       <input class="form-control" id="name1" name="name1" placeholder="please enter name" type="text"/>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="name2">
       Surname
      </label>
      <div class="col-sm-6">
       <input class="form-control" id="name2" name="name2" placeholder="please enter surname" type="text"/>
       <span class="help-block" id="hint_name2">
       </span>
      </div>
     </div>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="textarea">
       About me
      </label>
      <div class="col-sm-6">
       <textarea class="form-control" cols="40" id="textarea" name="textarea" placeholder="About me" rows="10"></textarea>
      </div>
     </div>
     <div class="form-group">
      <div class="col-sm-1 col-sm-offset-2">
       <button class="btn btn-custom " name="submit" type="submit">
        SAVE
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

