<div class="container" ng-controler="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div ng-include src="'templates/profile-menu.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container">
                    <h2>Courier list</h2>

                    <p>The .table-hover class enables a hover state on table rows:</p>
                    <table class="table table-hover" ng-controller="couriersCtrl">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Orders</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="courier in couriers">
                            <td>{{courier.id}}</td>
                            <td>{{courier.fullName}}</td>
                            <td>{{courier.phone}}</td>
                            <td></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>