<div class="container" ng-controler="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="assets/images/team1.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{user.login}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{user.role}}
                    </div>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#"><i class="glyphicon glyphicon-home"></i>Overview </a>
                        </li>
                        <li ng-if="user.role == 'CLIENT'">
                            <a href="#/order"><i class="fa fa-plus" aria-hidden="true"></i>New application </a>
                        </li>
                        <li>
                            <a href="#/application-list"><i class="fa fa-taxi" aria-hidden="true"></i>Applications </a>
                        </li>
                        <li>
                            <a href="#/order-list"><i class="fa fa-check" aria-hidden="true"></i>Orders </a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-user"></i>Account Settings </a>
                        </li>
                        <li ng-if="user.role == 'COURIER'">
                            <a href="#/order-list"><i class="fa fa-list" aria-hidden="true"></i>Application list </a>
                        </li>
                        <li ng-if="user.role == 'ACCOUTANT'">
                            <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>See the financial report</a>
                        </li>
                        <li ng-if="user.role == 'MANAGER'">
                            <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>Edit price list</a>
                        </li>
                        <li ng-if="user.role == 'MANAGER'">
                            <a href="#/courier-list"><i class="fa fa-list-ul" aria-hidden="true"></i>Couriers list</a>
                        </li>
                        <li>
                            <a href="#/documents"><i class="fa fa-list-ul" aria-hidden="true"></i>Documents</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container">
                    <h2>Courier list</h2>

                    <p>The .table-hover class enables a hover state on table rows:</p>
                    <table class="table table-hover" ng-controller="documentsCtrl">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Status</th>
                            <div ng-if="user.role=='MANAGER'"><th></th><th></th></div>
                            <div ng-if="user.role=='ACCOUNTANT' || user.role=='COURIER'"><th></th></div>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="app in apps">
                            <td width="5%">{{app.id}}</td>
                            <td width="10%">{{app.status}}</td>
                            <div ng-if="user.role=='MANAGER'">
                                <td>
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportAgreement(app)">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Agreement (PDF)
                                </td>

                                <td >
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportAct(app)">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Act (PDF)
                                </td>
                            </div>
                            <div ng-if="user.role=='ACCOUNTANT'">
                                <td>
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportFinanceReport(app, 'CSV')">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Finance Report (CSV)
                                </td>
                                <td >
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportFinanceReport(app, 'XLS')">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Finance Report (XLS)
                                </td>
                            </div>
                            <div ng-if="user.role=='COURIER'">
                                <td>
                                    <!-- **********************************app.courier.id****************************************************-->
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportOrderList(app.courier.id)">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Order List (PDF)
                                </td>
                            </div>
                            <!-- DOCUMENTS FOR ALL USERS-->
                            <td >
                                <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportPriceList(app, 'CSV')">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                </button>
                                Price-list (CSV)
                            </td>
                            <td >
                                <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportPriceList(app, 'XLS')">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                </button>
                                Price-list (XLS)
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>