<div class="container" ng-controler="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div ng-include src="'templates/profile-menu.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container">
                    <h2>Courier list</h2>

                    <p>The .table-hover class enables a hover state on table rows:</p>
                    <table class="table table-hover" ng-controller="documentsCtrl">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Status</th>
                            <div ng-if="user.role=='MANAGER'"><th></th><th></th></div>
                            <div ng-if="user.role=='ACCOUNTANT' || user.role=='COURIER'"><th></th></div>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="app in apps">
                            <td>{{app.id}}</td>
                            <td>{{app.status}}</td>
                            <div ng-if="user.role=='MANAGER'">
                                <td>
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportAgreement(app)">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Agreement (PDF)
                                </td>

                                <td >
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportAct(app)">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Act (PDF)
                                </td>
                            </div>

                            <div ng-if="user.role=='COURIER'">
                                <td>
                                    <!-- **********************************app.courier.id****************************************************-->
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportOrderList(app.courier.id)">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Order List (PDF)
                                </td>
                            </div>
                            <!-- DOCUMENTS FOR ALL USERS-->
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!--<td></td>-->
                            <td >
                                <button class="btn btn-custom " name="submit"
                                        type="submit"
                                        data-ng-click="exportPriceList('CSV')">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                </button>
                                Price-list (CSV)
                            </td>
                            <td >
                                <button class="btn btn-custom " name="submit"
                                        type="submit"
                                        data-ng-click="exportPriceList('XLS')">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                </button>
                                Price-list (XLS)
                            </td>
                        </tr>
                        <tr>
                            <td></td><td></td>
                                <div ng-if="user.role=='ACCOUNTANT'">
                                <td>
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportFinanceReport('CSV')">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Finance Report (CSV)
                                </td>
                                <td >
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportFinanceReport('XLS')">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Finance Report (XLS)
                                </td>
                            </div>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
