
<div class="container" ng-controler="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div ng-include src="'templates/profile-menu.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container">
                    <h2>Documents</h2>

                    <div ng-controller="documentsCtrl">

                    <div ng-if="user.role=='MANAGER' || user.role=='COURIER'">
                        <p>Here is the list of orders. You can create a
                            print-ready copy of an agreement or an act:</p>

                        <table class="table table-hover">

                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="app in apps">
                                <td>{{app.id}}</td>
                                <td>{{app.status}}</td>
                                <td>
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportAgreement(app)">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Agreement
                                </td>
                                <td >
                                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="exportAct(app)">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    Act
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                    <div>
                        <table class="table table-hover">

                            <thead>
                            <tr>
                                <th>File</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>

                            <div>
                                <tr ng-if="user.role=='ACCOUNTANT'">
                                    <td>
                                        Finance Report
                                    </td>
                                    <td>
                                        <button class="btn btn-custom"
                                                name="submit"
                                                type="submit"
                                                data-ng-click="exportFinanceReport('PDF')">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </button>
                                        PDF
                                    </td>
                                    <td>
                                        <button class="btn btn-custom"
                                                name="submit"
                                                type="submit"
                                                data-ng-click="exportFinanceReport('XLS')">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </button>
                                        XLS
                                    </td>
                                    <td>
                                        <button class="btn btn-custom"
                                                name="submit"
                                                type="submit"
                                                data-ng-click="exportFinanceReport('CSV')">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </button>
                                        CSV
                                    </td>
                                </tr>
                            </div>

                            <tr>
                                <td>Price List</td>
                                <td>
                                    <button class="btn btn-custom " name="submit"
                                            type="submit"
                                            data-ng-click="exportPriceList('PDF')">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    PDF
                                </td>
                                <td>
                                    <button class="btn btn-custom " name="submit"
                                            type="submit"
                                            data-ng-click="exportPriceList('XLS')">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    XLS
                                </td>
                                <td>
                                    <button class="btn btn-custom " name="submit"
                                            type="submit"
                                            data-ng-click="exportPriceList('CSV')">
                                        <i class="fa fa-file" aria-hidden="true"></i>
                                    </button>
                                    CSV
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
