<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Fast super blabla courier service</h1>
                    <p class="lead">
                        Couriers are distinguished from ordinary mail services by features such as speed, security,
                        <br>tracking, signature, specialization and individualization of express services,
                        <br>and swift delivery times, which are optional for most everyday mail services.
                        <br>As a premium service, couriers are usually more expensive than standard mail services,
                        <br>and their use is normally limited to packages where one or more of these features are
                        <br>considered important enough to warrant the cost.
                </p>
                </div>
            </div>
        </div>
    </div><!--/.carousel-inner-->
</section><!--/#main-slider-->
<section id="pricing">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>See our Pricings</h2>
                <p class="lead">Pellentesque habitant morbi tristique senectus et netus et <br>malesuada fames ac turpis egestas.</p>
            </div><!--/.center-->
            <div class="big-gap"></div>
            <div id="pricing-table" class="row" >
                <div class="col-sm-4" ng-repeat="price in prices">
                    <ul class="plan">
                        <li class="plan-name">{{price.name}}</li>
                        <li class="plan-name">Price per Kg <br>{{price.pricePerKg | currency}}</li>
                        <li class="plan-name">Price per Km <br>{{price.pricePerKm | currency}}</li>

                    </ul>
                </div><!--/.col-sm-4-->
            </div>
        </div>
    </div>
</section><!--/#pricing-->
<section id="about-us" >
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>Meet the Team</h2>
                <p class="lead">Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas.</p>
            </div>
            <div class="gap"></div>
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="user in users">
                        <div class="member">
                            <p><img class="img-responsive img-thumbnail img-circle" ng-src={{user.img}} alt="" ></p>
                            <h3>{{user.name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
            </div>
        </div>
    </div>
</footer><!--/#footer-->