<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Fast super blabla courier service</h1>
                    <p class="lead">
                        Couriers are distinguished from ordinary mail services by features such as speed, security,
                        <br>tracking, signature, specialization and individualization of express services,
                        <br>and swift delivery times, which are optional for most everyday mail services.
                        <br>As a premium service, couriers are usually more expensive than standard mail services,
                        <br>and their use is normally limited to packages where one or more of these features are
                        <br>considered important enough to warrant the cost.
                </p>
                </div>
            </div>
        </div>
    </div><!--/.carousel-inner-->
</section><!--/#main-slider-->
<section id="pricing">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>See our Pricings</h2>
                <p class="lead">Pellentesque habitant morbi tristique senectus et netus et <br>malesuada fames ac turpis egestas.</p>
            </div><!--/.center-->
            <div class="big-gap"></div>
            <div id="pricing-table" class="row" >
                <div class="col-sm-4" ng-repeat="price in prices">
                    <ul class="plan">
                        <li class="plan-name">{{price.name}}</li>
                        <li class="plan-price">Price per Kg{{price.pricePerKg | currency}}</li>
                        <li class="plan-price">Price per Km{{price.pricePerKm | currency}}</li>

                    </ul>
                </div><!--/.col-sm-4-->
            </div>
        </div>
    </div>
</section><!--/#pricing-->
<section id="about-us" >
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>Meet the Team</h2>
                <p class="lead">Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas.</p>
            </div>
            <div class="gap"></div>
            <div class="item active">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="user in users">
                        <div class="member">
                            <p><img class="img-responsive img-thumbnail img-circle" ng-src={{user.img}} alt="" ></p>
                            <h3>{{user.name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="box last">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Contact Form</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6">
                    <h1>Our Address</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>
                    <h1>Connect with us</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#contact-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
            </div>
        </div>
    </div>
</footer><!--/#footer-->