
<div class="container" ng-controler="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div ng-include src="'templates/profile-menu.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
            <div class="container">
                <h2>{{type}} list</h2>

                <p>The .table-hover class enables a hover state on table rows:</p>

                <div ng-if="type=='Application'">
                    <table class="table table-hover" ng-controller="applicationlistCtrl">
                        <thead>
                        <tr>
                            <div ng-if="user.role!=='CLIENT'">
                                <th>Client</th>
                            </div>
                            <th>Date</th>
                            <th>Dist</th>
                            <th>From</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>To</th>
                            <th>Total</th>
                            <th>Weight</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="application in applications">

                            <div ng-if="user.role!=='CLIENT'">
                                <td>{{application.partner.id}}</td>
                            </div>
                            <td>{{application.date}}</td>
                            <td>{{application.distance}}</td>
                            <td>{{application.from}}</td>
                            <td>{{application.shipping.name}}</td>
                            <td>{{application.status}}</td>
                            <td>{{application.to}}</td>
                            <td>{{application.total}}</td>
                            <td>{{application.weight}}</td>
                            <td class="actions">
                                <button class="btn btn-custom " name="submit" type="submit" data-ng-click="openApp(application)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="type=='Order' || type=='order'">
                    <table class="table table-hover" ng-controller="orderlistCtrl">
                        <thead>
                        <tr>
                            <div ng-if="user.role!=='CLIENT'">
                                <th>Client</th>
                            </div>
                            <th>Date</th>
                            <th>Dist</th>
                            <th>From</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>To</th>
                            <th>Total</th>
                            <th>Weight</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="order in orders">
                            <div ng-if="user.role!=='CLIENT'">
                                <td>{{order.partner.id}}</td>
                            </div>
                            <td>{{order.date}}</td>
                            <td>{{order.distance}}</td>
                            <td>{{order.from}}</td>
                            <td>{{order.shipping.name}}</td>
                            <td>{{order.status}}</td>
                            <td>{{order.to}}</td>
                            <td>{{order.total}}</td>
                            <td>{{order.weight}}</td>
                            <td class="actions">
                                <button class="btn btn-custom " name="submit" type="submit" data-ng-click="openApp(order)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        </div>
    </div>
</div>