<div class="container" ng-controller="orderCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="assets/images/team1.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{user.name}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{user.role}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">

                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#"><i class="glyphicon glyphicon-home"></i>Overview </a>
                        </li>
                        <li ng-if="user.role == 'CLIENT'">
                            <a href="#/order"><i class="fa fa-plus" aria-hidden="true"></i>New application </a>
                        </li>
                        <li>
                            <a href="#/application-list"><i class="fa fa-taxi" aria-hidden="true"></i>Applications </a>
                        </li>
                        <li>
                            <a href="#/order-list"><i class="fa fa-check" aria-hidden="true"></i>Orders </a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-user"></i>Account Settings </a>
                        </li>
                        <li ng-if="user.role == 'COURIER'">
                            <a href="#/order-list"><i class="fa fa-list" aria-hidden="true"></i>Application list </a>
                        </li>
                        <li ng-if="user.role == 'ACCOUTANT'">
                            <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>See the financial report</a>
                        </li>
                        <li ng-if="user.role == 'MANAGER'">
                            <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>Edit price list</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>

        <div class="col-md-9">
            <div class="profile-content">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-10">
                        <div class="bootstrap-iso">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12 col-sm-6 col-xs-12 ">
                                        <div class="formden_header col-sm-offset-6">
                                            <h2>Application info</h2>
                                        </div>
                                        <div class="container col-md-12 col-md-offset-2">
                                            <form>
                                            <table class="table table-hover" ng-controller="orderinfoCtrl">

                                                <tbody>
                                                <tr>
                                                    <td>Id client</td>
                                                    <td>{{order.partner.id}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Login</td>
                                                    <td>{{userData.login}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>{{userData.fullName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Passport</td>
                                                    <td>{{userData.passport}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Phone</td>
                                                    <td>{{userData.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Date</td>
                                                    <td>{{order.date}}</td>
                                                    </tr>
                                                <tr>
                                                    <td>Distance</td>
                                                    <td>{{order.distance}}</td>
                                                    </tr>
                                                <tr>
                                                    <td>From</td>
                                                    <td>{{order.from}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Shipping</td>
                                                    <td>{{order.shipping.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>
                                                        <select name="status" ng-switch on="order.status" ng-model="order.status">
                                                        <div >
                                                            <option value="AWAITING" selected>AWAITING</option>
                                                            <option value="DELIVERY" >DELIVERY</option>
                                                            <option value="DELIVERED" >DELIVERED</option>
                                                            <option value="CANCELED" >CANCELED</option>
                                                            <option value="DECLINED" >DECLINED</option>
                                                        </div>

                                                        </select>
                                                        </td>
                                                </tr>
                                                <tr>
                                                    <td>To</td>
                                                    <td>{{order.to}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td>{{order.total}}</td>
                                                <tr>
                                                    <td>Weight</td>
                                                    <td>{{order.weight}}</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                                <div ng-if="successMessage!=''">
                                                    <div class="form-group">
                                                        <div class="success-message">{{successMessage}}</div>
                                                    </div>
                                                </div>
                                                <div ng-if="errorMessage!=''">
                                                    <div class="form-group">
                                                        <div class="error-message">{{errorMessage}}</div>
                                                    </div>
                                                </div>
                                                <button data-ng-click="saveOrder()">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>