<div class="animate-profile" data-ng-controller="profileCtrl" ng-hide="loginUser != null">
    <div class="profile-usertitle-name">
        Login: {{$root.user.login}}
    </div>
    <div class="profile-usertitle-name">
        Name: {{$root.user.name}}
    </div>
    <div class="profile-usertitle-job">
        Role: {{$root.user.role}}
    </div>

    <div class="panel-exit">
        <ul class="nav profile-ul col-sm-6" id="profile">
            <li>
                <a href="#" data-ng-click="$root.exit()"><i class="fa fa-sign-out" aria-hidden="true"></i>Exit</a>
            </li>
        </ul>
    </div>
</div>