<div class="container" ng-controler="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div ng-include src="'templates/profile-menu.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container">
                    <h2>Price list</h2>

                    <p>The .table-hover class enables a hover state on table rows:</p>
                    <form class="order" ng-controller="priceListCtrl">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Price per kg</th>
                                <th>Price per km</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="price in prices">
                                <td>{{price.name}}</td>
                                <td>
                                    <input type="text" class="form-control" name="price.kg" id="kg" ng-model="price.kg"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="price.km" id="km" ng-model="price.km"/>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <div ng-if="successMessage!=''">
                            <div class="form-group">
                                <div class="success-message">{{successMessage}}</div>
                            </div>
                        </div>
                        <div ng-if="errorMessage!=''">
                            <div class="form-group">
                                <div class="error-message">{{errorMessage}}</div>
                            </div>
                        </div>
                        <button class="btn btn-primary " name="submit" type="submit" data-ng-click="savePriceList()">Save</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>