<div class="container" ng-controler="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div ng-include src="'templates/profile-menu.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="container">
                    <h2>Price list</h2>

                    <p>The .table-hover class enables a hover state on table rows:</p>
                        <table class="table table-hover" ng-controller="pricelistCtrl">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Price per kg</th>
                                <th>Price per km</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="price in prices">
                                <td>{{price.name}}</td>
                                <td>{{price.pricePerKg}}</td>
                                <td>{{price.pricePerKm}}</td>
                                
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>