
<div class="container" ng-controller="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div ng-include src="'templates/profile-menu.html'"></div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>{{user.login}}</h2>
                        <p><strong>Name: {{user.name}}</strong></p>
                        <p><strong>Phone: {{user.phone}}</strong></p>
                        <p><strong>Passport: {{user.passport}}</strong>  </p>
                    </div>

                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <img src="assets/images/team1.jpg" alt="user" class="img-circle img-responsive"><br>
                        </figure>
                    </div>
                </div>
                <div ng-if="user.role == 'CLIENT'">
                    <div class="col-xs-12 divider text-center">
                        <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong>{{user.countOrders}}</strong></h2>
                            <p><small>Orders</small></p>
                            <button class="btn btn-success btn-block" data-ng-click="viewOrders()">View orders</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong>{{user.countApplications}}</strong></h2>
                            <p><small>Applications</small></p>
                            <button class="btn btn-info btn-block" data-ng-click="viewApplications()">View applications</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
