<div class="container" ng-controller="profileCtrl">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="assets/images/team1.jpg" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{user.login}}
                    </div>
                    <div class="profile-usertitle-job">
                        {{user.role}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <div class="profile-userbuttons">

                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#"><i class="glyphicon glyphicon-home"></i>Overview </a>
                        </li>
                        <li ng-if="user.role == 'CLIENT'">
                            <a href="#/order"><i class="fa fa-plus" aria-hidden="true"></i>New application </a>
                        </li>
                        <li>
                            <a href="#/application-list"><i class="fa fa-taxi" aria-hidden="true"></i>Applications </a>
                        </li>
                        <li>
                            <a href="#/order-list"><i class="fa fa-check" aria-hidden="true"></i>Orders </a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-user"></i>Account Settings </a>
                        </li>
                        <li ng-if="user.role == 'COURIER'">
                            <a href="#/order-list"><i class="fa fa-list" aria-hidden="true"></i>Application list </a>
                        </li>
                        <li ng-if="user.role == 'ACCOUTANT'">
                            <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>See the financial report</a>
                        </li>
                        <li ng-if="user.role == 'MANAGER'">
                            <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i>Edit price list</a>
                        </li>
                        <li ng-if="user.role == 'MANAGER'">
                            <a href="#/courier-list"><i class="fa fa-list-ul" aria-hidden="true"></i>Couriers list</a>
                        </li>
                        <li ng-if="user.role == 'MANAGER'">
                            <a href=""><i class="fa fa-list-ul" aria-hidden="true" data-ng-click="exportAgreement()"></i>Couriers list</a>//, exportAct
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        <h2>{{user.login}}</h2>
                        <p><strong>Name: {{user.name}}</strong></p>
                        <p><strong>Phone: {{user.phone}}</strong></p>
                        <p><strong>Passport: {{user.passport}}</strong>  </p>
                    </div>

                    <div class="col-xs-12 col-sm-4 text-center">
                        <figure>
                            <img src="assets/images/team1.jpg" alt="user" class="img-circle img-responsive"><br>
                        </figure>
                    </div>
                </div>
                <div ng-if="user.role == 'CLIENT'">
                    <div class="col-xs-12 divider text-center">
                        <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong>{{user.countOrders}}</strong></h2>
                            <p><small>Orders</small></p>
                            <button class="btn btn-success btn-block"><span ></span>View orders</button>
                        </div>
                        <div class="col-xs-12 col-sm-4 emphasis">
                            <h2><strong>{{user.countApplications}}</strong></h2>
                            <p><small>Applications</small></p>
                            <button class="btn btn-info btn-block"><span></span>View applications</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
