<div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic">
        <img src="assets/images/team1.jpg" class="img-responsive" alt="">
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{user.login}}
        </div>
        <div class="profile-usertitle-job">
            {{user.role}}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">

    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav profile-ul">
            <li class="active">
                <a href="#/profile"><i class="glyphicon glyphicon-home"></i>Overview </a>
            </li>
            <li ng-if="user.role == 'CLIENT'">
                <a href="#/order"><i class="fa fa-plus" aria-hidden="true"></i>New application </a>
            </li>
            <li>
                <a href="#/application-list"><i class="fa fa-taxi" aria-hidden="true"></i>Applications </a>
            </li>
            <li>
                <a href="#/order-list"><i class="fa fa-check" aria-hidden="true"></i>Orders </a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-user"></i>Account Settings </a>
            </li>
            <li ng-if="user.role == 'COURIER'">
                <a href="#/order-list"><i class="fa fa-list" aria-hidden="true"></i>Application list </a>
            </li>
            <li ng-if="user.role == 'ACCOUTANT'">
                <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i>See the financial report</a>
            </li>
            <li ng-if="user.role == 'MANAGER'">
                <a href="#/price-list"><i class="fa fa-pencil" aria-hidden="true"></i>Edit price list</a>
            </li>

            <li ng-if="user.role == 'MANAGER'">
                <a href="#/courier-list"><i class="fa fa-list-ul" aria-hidden="true"></i>Couriers list</a>
            </li>
            <li>
                <a href="#/documents"><i class="fa fa-list-ul" aria-hidden="true"></i>Documents</a>
            </li>
            <li ng-if="user.role == 'COURIER'">
                <a href="exportOrderList?docType=PDF"><i class="fa fa-arrow-down"
                                 aria-hidden="true"></i>Fetch Task List</a>
            </li>
            <li>
                <a href="#" data-ng-click="exit()"><i class="fa fa-sign-out" aria-hidden="true"></i>Exit</a>
            </li>
        </ul>
        <script>
            $('.nav .profile-ul').click(function() {
                console.log("Clicked");
                $('.nav .profile-ul li.active').removeClass('active');
                $(this).addClass('active');
            });
        </script>
    </div>
    <!-- END MENU -->
</div>
