<div class="modal-dialog" id="register">
<div class="container- form ">
        <div class="row form ">
    <div class="modal-content col-md-12 col-sm-6 col-xs-12 col-md-offset-2 col-sm-offset-2">
        <div class="header">
          <h4 class="modal-title text-center">Registration</h4>
        </div>

        <div class="modal-body">
    <div class="bootstrap-iso" >
    <div class="container-fluid">
        <div class="row">
            <div data-ng-controller="registerCtrl" class="col-md-8 col-sm-12  col-md-offset-2 col-xs-12">
                <form method="post" class=" col-md-8 col-md-offset-2">

                    <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" ng-model="credentials.name" required/>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <input class="form-control" id="login" name="login" placeholder="Login" type="text" ng-model="credentials.login" required/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text" ng-model="credentials.phone" required/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <input class="form-control" id="passport" name="passport" placeholder="Passport" type="text" ng-model="credentials.passport" required/>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </div>
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password" required/>
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </div>
                            <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" placeholder="Confirm password" ng-model="credentials.passwordRepeat" required/>
                        </div>
                    </div>

                    <div ng-if="successMessage!=''">
                        <div class="form-group">
                            <div class="success-message">{{successMessage}}</div>
                        </div>
                    </div>
                    <div ng-if="errorMessage!=''">
                        <div class="form-group">
                            <div class="error-message">{{errorMessage}}</div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button class="btn btn-custom outline " name="submit" type="submit" data-ng-click="register()">Register</button>
                    </div>
                </form>
        </div>
        </div>
        </div>

            </div>
        </div>
    </div>
    </div>
</div>
        </div>
    </div>