<!DOCTYPE html>
<html lang="en" ng-app="homeServices">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Xeon | OnePage Responsive Theme</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link href="assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
   
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/images/ico/apple-touch-icon-57-precomposed.png">
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0" ng-controller="homeCtrl">
<div ng-init="loginUser=''"></div>

               <!-- header -->
    <header id="header" role="banner">
        <div class="container-fluid">
            <div id="navbar" class="navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"></a>
                </div>
                <div class="collapse navbar-collapse text-center">
                    <ul class="nav navbar-nav" id="menu">
                        <li class="active"><a href="#main-slider"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><a href="#pricing">Pricing</a></li>
                        <li><a href="#about-us">About Us</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>

                    <div class="reg collapse navbar-collapse pull-right col-md-6  col-xs-12" ng-if="loginUser==''">
                        <ul class="nav navbar-nav">
                            <li type="button" class=" " data-toggle="modal" data-target="#myModal" data-ng-click="go('/login')">
                                <a href="" data-target="#login"  >Sign in</a></li>
                            <li type="button" class=" " data-toggle="modal" data-target="#myModal" data-ng-click="go('/register')">
                                <a href="" data-target="#reg">Registration</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav" ng-if="loginUser!=''">
                            <li type="button"><a href="#/profile" class="login-name">{{loginUser}}</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <div ng-view></div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.isotope.min.js"></script>
    <script src="assets/js/jquery.prettyPhoto.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/angular-cookies.min.js"></script>
    <script src="app.js"></script>

<!--Controllers-->
    <script src="controllers/applicationlistCtrl.js"></script>
    <script src="controllers/appSettingsCtrl.js"></script>
    <script src="controllers/couriersCtrl.js"></script>
    <script src="controllers/documentsCtrl.js"></script>
    <script src="controllers/homeCtrl.js"></script>
    <script src="controllers/loginCtrl.js"></script>
    <script src="controllers/orderCtrl.js"></script>
    <script src="controllers/orderinfoCtrl.js"></script>
    <script src="controllers/orderlistCtrl.js"></script>
    <script src="controllers/profileCtrl.js"></script>
    <script src="controllers/registerCtrl.js"></script>

<!-- Services-->
    <script src="services/documentService.js"></script>
    <script src="services/loginService.js"></script>
    <script src="services/managerService.js"></script>
    <script src="services/orderService.js"></script>
    <script src="services/registerService.js"></script>
    <script src="services/sessionService.js"></script>
    <script src="services/userService.js"></script>
</body>
</html>